@import "card"
@import "nav"
@import "form"
@import "buttons"
@import "bean"
@import "table"
@import "notification"

.text-muted
    color: $muted-color

.capitalize
    text-transform: capitalize

.caps
    text-transform: uppercase