$background-color: #f5f5f5
$text-color: #333
$muted-color: #777
$borders-color: #d2d2d2
$primary-color: #007bff
$primary-color-hover: #0069d9

$navbar-background: #fff
$navbar-text: #333

$error-color: #dc3545

$admin-color: #28a745
$teacher-color: #17a2b8
$supporter-color: #ffc107

$shadow-bg: rgb(252, 253, 254)
$shadow-color: rgb(102, 115, 130)

$border-radius: 0.25rem
$shadow : 0 0 0 0.2rem rgba(0, 123, 255, 0.25)

$success-bg: #fff
$success-color: #155724
$success-border: #92ab97

$danger-bg: #fff
$danger-color: #721c24
$danger-border: #987b7e

$warning-bg: #fff
$warning-color: #856404
$warning-border: #948b6e

$info-bg: #fff
$info-color: #0c5460
$info-border: #667b7e